{* This is the welcome page, you can delete it *}

{block content}
<head>

</head>
<div id="banner">
	<h1 n:block=title>Home</h1>
</div>

<a n:href="Post:create">Napsat nový příspěvek</a>

<div id="content">
	
</div>

